<!DOCTYPE html>
  <html>
    <head>
      <title>Places</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
      <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    </head>
    <div class= 'container'>
      <div class= 'jumbotron'>
        <body>
        <h1>Places You've Visited:</h1>
      </div>
      <form action="/places" method="post">
        <label for="new-city">City:</label>
        <input id="new-city" name="new-city" type="text">

        <label for="new-country">Country:</label>
        <input id="new-country" name="new-country" type="text">

        <label for="new-image">Upload an Image Link:</label>
        <input id="new-image" name="new-image" type="text">


        <button type="submit">Submit</button>
      </form>
    </body>
  </div>
</html>
